<style>
  body {
    font-family: 'Instrument Serif', serif;
  }

  h1 {
    font-family: 'Instrument Serif', serif;
  }

  .about {
    font-family: 'Instrument Serif', serif;
  }

  .contact, .socials {
    font-family: 'Instrument Serif', serif;
  }
</style>
